footer{
  width: 100%;
  background-color: #323232;
  height: 252px;
  padding: 48px 1031px 97px 356px;
  display: flex;
}

.footer-route-href{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  color: white;
}