.logo-header img{
  width: 91px;
  height: 27px;
  margin-right: 338px;
}

.route-href a{
  color: black;
  text-decoration:  none;
  margin-right: 64px;
  font-weight: 400;
}


header{
  width: 100%;
  box-shadow: 0 0 4px 0 rgba(0, 104, 255, 0.25);
  background: rgb(255, 255, 255);
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}